data/
.vscode/
*__pycache__
.genv/
.env
*.__pycache__*.cpython-*py
.ipynb_checkpoints/
*.cpython-313.pyc
__pycache__/
*.pytest_cache/
.__pycache__/
*.ipynb_checkpoints/
mlartifacts/
mlruns/
mlflow/
mlflow.db
genv/
artifacts/

