# Byte-compiled / optimized / DLL files
data/
.vscode
.genv/
.env
*.__pycache__*.cpython-*py
# Byte-compiled / optimized / DLL files
*.ipynb_checkpoints/
*.cpython-313.pyc
__pycache__/
*.pytest_cache/
*.pyc
*.pyd
*.pyo




# Ignore local MLflow SQLite DB files (should not be checked into Git)
mlflow.db
**/mlflow.db